*{
    margin: 0;
    padding: 0;
    font-family: Cochin; 
  }
  
  body{
    max-width: 60em;
    width: 90%;
    margin: auto;
    background-color: rgba(255,255,255, .6);
  }
  
  html{
      background-color: black;
    }
  
  h1{
    text-transform: uppercase;
    font-size: 170%;
  }
  
  h2{
    padding: 1em;
  }
  
  p{
    text-indent: 5%;
    padding: 1em;
  }

  li{
    padding: .5em;
    margin-left: 3em;
  }
  
  img {
    max-width: 70%;
    border-radius: 50em;
    padding: .5em;
    border: .1em dotted green;
  }

  nav a:link{
    color: #009;
    text-decoration: none;
  }

  nav a:visited{
    text-decoration: none;
    color: #009;
  }
  
  nav a:hover{
    background-color: gainsboro;
    color: plum;
    text-decoration: underline;
  }

  nav a{
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  nav{
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 1%;
    background-color: pink;
    border-bottom: magenta;
    border-top: magenta;
    border-left: magenta;
    border-right: magenta;
  }

  li{ 
    list-style-type: square;
  }
  
  ul{
    display: inline;
  }
  
  table{
    font-weight: normal;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }
  
  table th, td{
    border-bottom: .2em solid pink;
    border-left: .2em solid pink;
    border-right: .2em solid pink;
    border-top: .2em solid pink;
    padding: 2em;
    text-align: center;
  }
  
  table tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  table tr:nth-child(odd){
    background-color: whitesmoke;
  }
  
  table tr:hover{
    background-color: lightblue;
  }
  
  table tr:nth-child(1){
    background-color: lavender;
  }

  caption{
    caption-side: bottom;
  }
  
  li:nth-child(odd){
    color: darkmagenta;
  }
  
  li:nth-child(even){
    color: darkblue;
  }
  
  /* form styling */

form {
    background-color: var(--main-bg-color-rgba);
    border: thin solid black;
    clear: both;
    max-width: 30em;
    margin: auto;
    padding: 1%
}

form p {
    text-indent: 0;
}

fieldset {
    padding: 1%;
}

fieldset.contact {
    margin-top: -1em;

}

input[type=sumbit] {
    background: darkblue;
    color: whitesmoke;
    font-size: x-large;
    padding: 1%;
}

label {
    display: block;
}

.radio label, 
.checkbox label {
    display: inline;
}

.radio legend, 
.checkbox legend, 
.contact legend {
    padding-top: 1.5em;
}

.radio, 
.checkbox, 
.contact {
    background-color:pink;
}

.radio input, 
.checkbox input {
    width: initial;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

select {
    width: 100%;
}

legend {
    margin-top: 1%;
}

img {
    max-width: 100%;
}

p {
    text-indent: 3em;
    padding-bottom: 1em;
}

ol {
    margin: 1em;
}

/** main styling **/
  
  main {
    display: grid;
    grid-template-areas: "box1 box2" "box4 box2" "box3 box3";
    grid-template-columns: auto 35%;
    grid-gap: 1em
  }
  
  .form main {
    grid-template-areas: "box1 box1" "box2 box2" "box3 box3";
  }
  
  main h1:first-child {
    grid-area: box1;
  }
  
  main section:nth-child(2) {
    grid-area: box2;
  }
  
  main section:nth-child(3) {
    grid-area: box3;
  }
  
  main section:nth-child(4) {
    grid-area: box4;
  }

  .activePage{
    border-top: solid black; 
    border-right: solid black; 
    border-left: solid black;
    border-bottom: solid black; 
  }